#!/usr/bin/env zsh

# update the prompt every 15 seconds (keep the clock reasonably up to date)
# via http://stackoverflow.com/a/17915260
TMOUT=15
TRAPALRM() { zle reset-prompt }

# handle command not found by displaying packages that contain the command
command_not_found_handler() {
	# lazy load the proper handler on the first run
	if has brew && brew command command-not-found-init >/dev/null; then
		eval "$(brew command-not-found-init)"
		command_not_found_handler $*
	elif [[ -x /etc/zsh_command_not_found ]]; then
		source /etc/zsh_command_not_found
		command_not_found_handler $*
	else
		return 127
	fi
}

# convenience to set THEOS_DEVICE_IP. used to do a lot more than this, but theos
# has now removed all need for anything special, and it's stuck in muscle memory
setdevice() {
	export THEOS_DEVICE_IP=$1
	echo "$THEOS_DEVICE_IP"
}

# convenience to switch xcode versions
xcswitch() {
	sudo xcode-select -switch "/Applications/Xcode$1.app/Contents/Developer" && \
		echo "Switched to $(xcsel -print-path)"
}
