#!/usr/bin/env zsh

# handle command not found by displaying packages that contain the command
command_not_found_handler() {
	# lazy load the proper handler on the first run
	if has brew && brew command command-not-found-init >/dev/null; then
		eval "$(brew command-not-found-init)"
		command_not_found_handler $*
	elif [[ -x /etc/zsh_command_not_found ]]; then
		source /etc/zsh_command_not_found
		command_not_found_handler $*
	else
		return 127
	fi
}

# convenience to switch xcode versions
xcswitch() {
	sudo xcode-select -switch "/Applications/Xcode$1.app/Contents/Developer" && \
		echo "Switched to $(xcsel -print-path)"
}
