[submodule "pure"]
	path = pure
	url = https://github.com/sindresorhus/pure
	branch = main
[submodule "lean"]
	path = lean
	url = https://github.com/miekg/lean
	branch = master
[submodule "zsh-autoswitch-virtualenv"]
	path = zsh-autoswitch-virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv
